
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    input, button {

        border-spacing: 0 5px;
        font:   100% Georgia, serif;
        margin: 5px ;
        background: #B1B9D9;
        text-align: center;
        vertical-align: middle;
        width: 30%;
        border: 1px solid #090606;
    }

    input {

        border-spacing: 0 5px;
        font:  100% Georgia, serif;
        margin: 5px ;
        background: #B1B9D9;
        text-align: center;
        vertical-align: middle;
        width: 30%;
        border: 1px solid blue;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>USER add</title>
</head>
<body>
<form  th:action="@{/add}" th:object="${produkts}"  method="post">
    <div class="form-group col-md-8">
        <input type="text"  id="id" th:name="id" placeholder="Enter name id...    ." maxlength="7"/>
    </div>
    <div class="form-group col-md-8">
        <input type="text"  id="name" th:name="name" placeholder="Enter name product    ." maxlength="7"/>
    </div>
    <div class="form-group">
        <input type="date"  id="date" th:name="date" placeholder="Enter date." />
    </div>
<p></p>
    <div class="form-group col-md-8">
        <input type="text"  id="cost_of_delivery" th:name="cost_of_delivery" placeholder="Enter your cost_of_delivery." maxlength="7"/>
    </div>
    <p></p>
    <div class="form-group col-md-8">
        <input type="text"  id="cost_of_custom" th:name="cost_of_custom" placeholder="Enter your cost_of_custom." maxlength="7"/>
    </div>
    <p></p>
    <div class="form-group col-md-8">
        <input type="text"  id="cost_of_deliver" th:name="cost_of_deliver" placeholder="Enter your cost_of_delivery." maxlength="7"/>
    </div>
    <p></p>
    <div class="form-group col-md-8">
        <input type="text"  id="cost_konk" th:name="cost__konk" placeholder="Enter your cost_konk." maxlength="7"/>
    </div>
    <div class="form-group col-md-8">
        <input type="text"  id="cost_all" th:name="cost__all" placeholder="Enter your cost_ALL." maxlength="7"/>
    </div>
    <div class="form-group col-md-8">
        <input type="text"  id="cost_our" th:name="cost_our" placeholder="Enter your cost_our..." maxlength="7"/>
    </div>
    <div class="form-group col-md-8">
        <input type="text"  id="rentabeln" th:name="rentabeln" placeholder="Enter your RENTABELN.." maxlength="7"/>
    </div>
    <div class="form-group col-md-8">
        <input type="text"  id="bl_profit" th:name="bl_profit" placeholder="black_profit" maxlength="7"/>
    </div>
    <div class="form-group col-md-8">
        <input type="text"  id="clear_profit" th:name="clear_profit" placeholder="clear_profit" maxlength="7"/>
    </div>
    <div class="form-group col-md-8">
        <input type="text"  id="ce" th:name="ce" placeholder="ce" maxlength="7"/>
    </div>

    <div class="form-group">
    <input type="date"  id="date_china" th:name="date_china" placeholder="Enter deviverd fro China." value="1" />
    </div>

    <div class="form-group">
        <input type="text"  id="name_conpany" th:name="name_company" placeholder="Enter name company" value="1"/>
    </div>
    <div class="form-group">
        <input type="text"  id="clients.id" th:name="clients.id" placeholder="id clients" value="1"  />
    </div>
    <p></p>
    <div class="form-group">
        <input type="text"  id="clients.name" th:name="clients.name" placeholder="Name Client" value="1"  />
    </div>
    <p></p>
    <button type="submit" >Add</button>
</form>

<p><a th:href="@{/}">HOME</a></p>
<svg th:href="@{/}">HOME</svg>
</body>
</html>